.row{
    display: flex;
    height: 330px;
    align-items: center;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;

    @include smallDevices{
        height: auto;
        flex-direction: column;
    }
}

.hidden{
    display: none;
}

